<div data-page="resumenInspeccion" class="page">
	<div class="navbar">
        <div class="not-conection">Sin conexión a Internet</div>
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="back link icon-only">
					<i class="material-icons md-24" >&#xE5C4;</i>
				</a>
			</div>
			<div class="center">Vista Inspección</div>
            <div class="right">
                <div class="sk-fading-circle sync-pending">
                    <div class="sk-fading-title">-</div>
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
                <i class="material-icons sync-complete">&#xE2BF;</i>
            </div>
		</div>
	</div>

	<div class="page-content hide-bars-on-scroll">
        <div class="page-content-load"><div class="spinner2"><div class="cube1"></div><div class="cube2"></div></div></div>
		<div class="content-block">
            <table style="width:100%;">
                <thead>
                    <tr>
                        <th class="tdCat">Categoria</th>
                        <th class="tdCat">Item</th>
                        <th class="tdCat">Obs</th>
                        <th class="tdCat">Fotos</th>
                        <th class="tdCat">Dias para arreglar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Documentacion</td>
                        <td class="text-center">3</td>
                        <td class="text-center">5</td>
                        <td class="text-center">2</td>
                        <td class="text-center">2</td>
                    </tr>
                    <tr>
                        <td>C. Medico</td>
                        <td class="text-center">3</td>
                        <td class="text-center">1</td>
                        <td class="text-center">2</td>
                        <td class="text-center">1</td>
                    </tr>
                    <tr>
                        <td>Documentacion</td>
                        <td class="text-center">3</td>
                        <td class="text-center">5</td>
                        <td class="text-center">2</td>
                        <td class="text-center">1</td>
                    </tr>
                    <tr>
                        <td>C. Medico</td>
                        <td class="text-center">3</td>
                        <td class="text-center">1</td>
                        <td class="text-center">2</td>
                        <td class="text-center">1</td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>